body {
    color: rgb(0, 0, 0);
    background-color: rgb(240, 240, 240);
}

.intropage {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 5px auto;
}

.buttongroup{
    display: flex;
    
}

.pname {
    font-size: 40px;
    margin-left: 10px;
}

.ppost {
    font-size: 30px;
    left: 0px;
}

.pdate {
    font-size: 20px;
    color: grey
}

.plikes {
    font-size: 20px;

}





.homebuttons {
    width: 500px;
    height: 100px;
    background-color: white;
    border-width: 0px;
    margin: 10px;
   
}

.registration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(25, 25, 25);
    padding: 30px;
    border-radius: 30px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: white
    

}

.rtextbox {
    width: 300px;
    height: 50px;
    font-size: 20px;

}


.subbutton {
    width: 300px;
    height: 50px;
    background-color: white;
    border-width: 0px;
    
}

.chec {
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

.poster {
    width: 600px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    
   


}

#spost {
    background-color: rgb(28, 138, 202);
    color: white;
    border-width: 0px;
    border-radius: 40px;
    width: 100px;
    height: 50px;
    position: absolute;
    top:75%;
    left: 65%

}

.topbuttons {
    width: 300px;
    height: 100px;
    background-color: rgb(93, 194, 194);
    color: white;
    margin: 10px;
    
    

}

.searcher {
    border-radius: 40px;
    width: 300px;
    height:50px;
    font-size: 25px;
}

.success {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: green;
}

.failure {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: red;

}

.posts {
    background-color: white;

}


.postsButton {
    background-color: white;
    border: none;
    width: 75%;
    text-align: left
}

.hide {
    visibility: hidden;
}

.user-info {
    display: flex; /* Use flexbox to keep children in a row */
    align-items: center; /* Align items vertically in the center */
}

.ppfp {
    border-radius: 50px;
}

.largePfp {
    border-radius: 150px
}



.replyStation {
    width : 50%;
    height: 300px

}

.replyPoster {
    width: 600px;
    height: 250px;
    position: absolute;
  
    left: 50%;

    transform: translate(-50%);
  
    font-size: 40px;
    
   


}

.sreply {
    background-color: rgb(28, 138, 202);
    color: white;
    border-width: 0px;
    border-radius: 40px;
    width: 100px;
    height: 50px;
    position: absolute;
    left: 65%;
    transform: translate(0px, 300px);

}