env/

SIproject/SIproject/settings.py

SIproject/SIapp/migrations/

SIproject/media/media/

SIproject/media/

SIproject/SIproject/__pycache__/

SIproject/SIapp/__pycache__/

NewsBot/dbPassword.txt

NewsBot/dbName.txt

NewsBot/key.txt