{% extends 'base.html' %}

{% load static %}

{% block content %}


<h3> Your current profile picture </h3>

<img src="{{CurrentUser.profilePicture.url}}">

<form method='post' action='changedProfile' enctype="multipart/form-data">
    {%csrf_token%}
    <input type="file" name="newPfp" accept="image/*">
    
    <h3> Your current Bio </h3>
    <input type='textarea' name='newBio' value="{{CurrentUser.bio}}">
    
    <button type='submit' id='spost'> Save changes </button>


</form>








{% endblock %}