{% extends 'base.html' %}

{% load static %}

{% block content %}

<form method='post' action='profile' enctype="multipart/form-data">
    {%csrf_token%}
    <textarea id='poster' rows="10" cols="30" name='post' placeholder='Whats on your mind?'></textarea>
    <input type="file" name="image" accept="image/*">
    <button type='submit' id='spost'> Post </button>


</form>



<div class='buttongroup'>
    <form method='post' action='profile'>
        {% csrf_token %}
        <button type='submit' class = 'topbuttons'> Your profile </button>
    </form>


    <form method='post' action='AllPosts'>
        {% csrf_token %}
        <button type='submit' class = 'topbuttons'> Most popular posts  </button>
    </form>



    <form method='post' action='profile'>
        {% csrf_token %}
        <button type='submit' class = 'topbuttons'> Posts from followed accounts </button>
    </form>
    <div class='searchSection'>
        <form method='post' action='search'>
            {% csrf_token %}
                <input for='text' placeholder='search' class='searcher' oninput="updateSearchButtons()" name='searchedFor'>
                <button id="searchPost" type ='submit' onclick="postOrUser('post')"></button>
                <button id="searchUser" type='submit' onclick="postOrUser('user')"></button>
                <input type = "hidden" id="userOrPost" name='userOrPost'>
        </form>
    </div>
</div>

<script>

    console.log("hello world")

    
    function updateSearchButtons() {
        currentSearch = document.querySelector(".searcher").value;
        document.getElementById("searchPost").innerHTML = `search for '${currentSearch}' in Posts'`;
        document.getElementById("searchUser").innerHTML = `search for '${currentSearch}' in Users'`;

    }

    function postOrUser(x) {
        document.getElementById('userOrPost').value = x;
        console.log("pls be fixed")
        console.log(document.getElementById('userOrPost').value);

    }
    
    

</script>

    


{% endblock %}


