{% extends 'base.html' %}

{% load static %}

{% block content %}


<form method="post" action="intro">
    {% csrf_token %}
    <button> Logout </button>

</form>



<div class='buttongroup'>
    <form method='post' action='profile'>
        {% csrf_token %}
        <button type='submit' class = 'topbuttons btn btn-primary'> Your profile </button>
    </form>


    <form method='post' action='AllPosts'>
        {% csrf_token %}
        <button type='submit' class = 'topbuttons btn btn-primary'> Most popular posts  </button>
    </form>



    <form method='post' action='followedPosts'>
        {% csrf_token %}
        <button type='submit' class = 'topbuttons btn btn-primary'> Posts from followed accounts </button>
    </form>
    <div class='searchSection'>
        <form method='post' action='search'>
            {% csrf_token %}
                <input for='text' placeholder='search' class='searcher form-control' oninput="updateSearchButtons()" name='searchedFor'>
                <button id="searchPost" type ='submit' onclick="postOrUser('post')"></button>
                <button id="searchUser" type='submit' onclick="postOrUser('user')"></button>
                <input type = "hidden" id="userOrPost" name='userOrPost'>
        </form>
    </div>
</div>




<form method='post' action='profile' enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="d-flex justify-content-center align-items-center">
        <div class="form-floating col-md-6">
            <textarea class='form-control' rows="4" name='post' id="postbox" style="font-size:40px; width: 600px; height: 250px;" placeholder='Whats on your mind?'></textarea>
            <label for="postbox">Whats on your mind?</label>
        </div>
    </div>
    
    <input type="file" name="image" accept="image/*">
    
    <button type='submit' id='spost' class="btn btn-primary">Post</button>
    
    <input type="hidden" name="replyCheck" value="False">
</form>

<script>

    console.log("hello world")

    
    function updateSearchButtons() {
        currentSearch = document.querySelector(".searcher").value;
        document.getElementById("searchPost").innerHTML = `search for '${currentSearch}' in Posts'`;
        document.getElementById("searchUser").innerHTML = `search for '${currentSearch}' in Users'`;

    }

    function postOrUser(x) {
        document.getElementById('userOrPost').value = x;
        console.log("pls be fixed")
        console.log(document.getElementById('userOrPost').value);

    }
    
    

</script>

    


{% endblock %}


