{% extends 'base.html' %}

{% load static %}

{% block content %}



<div class ='registration'>
    {% if Valid == True %}
        <p class='success'> Registration successful, account created </p>
    {% endif %}

    {% if lValid == False %}
        <p class='failure'> Incorrect login details </p>
    {% endif %}


    <form method='post' action='homepage'>

        {% csrf_token %}
        <input type='text' name='lusername' class='rtextbox' placeholder="Username"> <br>
      
        <input type='password' name='lpassword' class='rtextbox' placeholder="Password"> <br> 
        
        
        <button type='submit' class='subbutton btn btn-primary'> Login </button> <br>

        <p class="smallText "> Don't have an account ? <a href="register"> Register</a> </p>
    
    </form>
    
</div>




{% endblock %}