{% extends 'base.html' %}

{% load static %}

{% block content %}

<form method='post' action='homepage'>

    {% csrf_token %}

    <button type='submit'> Return to home </button>
    <input type = "hidden" id="likeProcess" name='likeProcess'>
    <input type = "hidden" id="unlikeProcess" name='unlikeProcess'>

</form>

<div class="container-fluid p-5 bg-primary text-white text-center">

    <img src="{{otherUser.profilePicture.url}}" width="200" height="200" class='largePfp'>
    <h1> @{{otherUser.username}}'s profile </h1>

    <p> {{otherUser.bio}} </p>

    <h2>{{otherUser.followers}} followers </h2>

</div>


{% if otherUser.id != currentUser.id %}

    <form method="post" action="blockUser">
        {% csrf_token %}
        <input type='hidden' id='otherUser' name='otherUser' value='{{otherUser.id}}'>
        {% if blocked == False %}
            <button> Block User </button>
        {% else %}
            <button> Unblock User </button>
        {% endif %}

    </form>

    <form method="post" action="afterReport">

        {% csrf_token %}

        <input type='hidden' id='otherUser' name='otherUser' value='{{otherUser.id}}'>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
            Report User
        </button>
        </div>

        
        <!-- The Modal -->
        <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"> Reason for report </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
        
            <!-- Modal body -->
            
            <textarea placeholder="enter reason" class="modal-body" name="reportReason"></textarea>
        
        
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Submit</button>
            </div>
        
            </div>
        </div>
        </div>

    </form>

{% endif %}





{% if blocked == False%}

    {% if otherUser.id != currentUser.id %}

        <form method="post" action="userProfile">
            {% csrf_token %}
            <input type='hidden' id='otherUser' name='otherUser' value='{{otherUser.id}}'>
            {%if followed == True%}
            <button> Unfollow </button>
            {% else %}
            <button> Follow </button>
            {% endif %}
        </form>
    {% endif %}




    

    <script> 
        const likeSession = [];
        const unlikeSession = [];
        let likedList = "{{likedList}}".split('-');
        let objID;
        let likes;

    </script>


    <form method='post' action="otherLikedPosts">

        {% csrf_token %}
        <input type = "hidden" id="likeProcess3" name='likeProcess'>
        <input type = "hidden" id="unlikeProcess3" name='unlikeProcess'>

        <button type='submit'> Liked posts </button>
        <input type='hidden' value='{{otherUser.id}}' name='otherUser2'>
        

    </form>

    <form method="post" action="replies">

        {% csrf_token %}

        <input type="hidden" id="selectedPost" name="selectedPost">
        <input type = "hidden" id="likeProcess2" name='likeProcess'>
        <input type = "hidden" id="unlikeProcess2" name='unlikeProcess'>


        {% for objs in otherUsersPosts %}
            
        <div class="d-flex justify-content-center align-items-center">
        
            <button class='postsButton' onclick="getPost({{objs.id}})">
                
                <div class='user-info'>
    
                    {% for user in allUsers%}
                        {% if user.username == objs.user.username %}
                            <img src="{{ user.profilePicture.url }}" width='50' height='50' class='ppfp'>
                        {% endif %}
                    {% endfor %}
    
            
                    <h3 class='pname'>@{{objs.user.username}}</h3>
    
                </div>
                
                <p class='ppost'> {{objs.post}} </p>
                {% if objs.img != "False" %}
                    <img src="{{objs.img.url}}" width="200" height="200">
                {% endif %}
                <p class='pdate'> {{objs.date}} </p>
                <p class='plikes' id="Likes{{objs.id}}" > Likes = {{objs.likes}} </p>
                
    
            </button>
    
            <div>
    
                <button type="button" onclick="Add({{objs.id}}, {{objs.likes}})" id="Lpost{{objs.id}}">Like Post</button>

                <form method="post" action="afterPostReport">

                    {% csrf_token %}
            
                    <input type='hidden' id='reportedPost' name='reportedPost' value='{{objs.id}}'>
            
                    <button type="button" data-bs-toggle="modal" data-bs-target="#myModal">
                        Report Post
                    </button>
                    </div>
            
                    
                    <!-- The Modal -->
                    <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                    
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title"> Reason for report </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                    
                        <!-- Modal body -->
                        
                        <textarea placeholder="enter reason" class="modal-body" name="reportReason"></textarea>
                    
                    
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Submit</button>
                        </div>
                    
                        </div>
                    </div>
                    </div>
            
                </form>
    
               
    
            </div>
    
        </div>
    
            <br>
            <br>
            
            <script>
    
                objID = "{{objs.id}}";
                if (likedList.includes(objID)) {
                    document.getElementById("Lpost{{objs.id}}").innerHTML = "Unlike Post";
                    console.log("yuh");
                }
    
            </script>
    
    
        {% endfor %}
    </form>




    <script>

        
        

        function Add(id, likes)
        {
            console.log("Hello");
            if (document.getElementById("Lpost"+id).innerHTML == "Unlike Post") {
                document.getElementById("Lpost"+id).innerHTML = "Like Post";
                unlikeSession.push(id);
                document.getElementById('unlikeProcess').value = unlikeSession.join("-");
                document.getElementById('unlikeProcess2').value = unlikeSession.join("-");
                document.getElementById('unlikeProcess3').value = unlikeSession.join("-");
                if (likeSession.includes(id)) {
                    likeSession.splice(unlikeSession.indexOf(id), 1);
                }
                document.getElementById("Likes"+id).innerHTML = "Likes = " + (parseInt(document.getElementById("Likes"+id).innerHTML.match(/\d+(\.\d+)?/g))-1).toString();


            }
            else if (document.getElementById("Lpost"+id).innerHTML == "Like Post") {
                document.getElementById("Lpost"+id).innerHTML = "Unlike Post";
                likeSession.push(id);
                document.getElementById('likeProcess').value = likeSession.join("-");
                document.getElementById('likeProcess2').value = likeSession.join("-");
                document.getElementById('likeProcess3').value = likeSession.join("-");
                if (unlikeSession.includes(id)) {
                    unlikeSession.splice(unlikeSession.indexOf(id), 1);
                }
                document.getElementById("Likes"+id).innerHTML = "Likes = " + (parseInt(document.getElementById("Likes"+id).innerHTML.match(/\d+(\.\d+)?/g))+1).toString();;
            }
            
            
            
        }
        

    </script>







    <script>
        function getPost(x) {
            document.getElementById("selectedPost").value = x
        }


    </script>

{% else %}

    <h2> You have blocked this user, unblock to view their content </h2>

{% endif %}


{% endblock %}