{% extends 'base.html' %}

{% block content %}

<div class ='registration'>
    {% if Valid == False %}
        <p class='failure'> {{errorMessage}} </p>
    {% endif %}
<form method='post' action='confirm'>
    {% csrf_token %}
    
    <input type='email' name='Email' class='rtextbox' placeholder="Email"> <br>
    <input type='text' name='username' class='rtextbox' placeholder="Username"> <br>
    <input type='password' name='password' class='rtextbox' placeholder="Password"> <br>
    <label for='password' class='chec'> *Must be above 8 characters and contain a number and a letter </label>
    
    
    <div class='chec'>
    <input type='checkbox' name='checkbox' > 
    <label for='checkbox' > I will comply to all the rule in the terms of service which can be found in <a href='https://bills.parliament.uk/bills/3137'> Terms of service </a> </label> <br> <br>
    </div>

    <button type='submit' class='subbutton btn btn-primary'> Register </button>

    <p class="smallText "> Already have an account? <a href="login">Login</a> </p>
</form>

</div>

{% endblock %}