{% extends 'base.html' %}

{% block content %}

<div class ='registration'>
    {% if Valid == False %}
        <p class='failure'> Registration Failed, Error in registration details </p>
    {% endif %}
<form method='post' action='confirm'>
    {% csrf_token %}
    <label for='Email' > Email </label> <br> 
    <input type='email' name='Email' class='rtextbox'> <br>


    <label for='username' > Username </label> <br> 
    <input type='text' name='username' class='rtextbox'> <br>
    <label for='password' > Password </label> <br>
    <input type='password' name='password' class='rtextbox'> <br>
    <label for='password' class='chec'> *Must be above 8 characters and contain a number and a letter </label> <br> <br>
    
    
    <div class='chec'>
    <input type='checkbox' name='checkbox' > 
    <label for='checkbox' > I will comply to all the rule in the terms of service which can be found in <a href='https://bills.parliament.uk/bills/3137'> Terms of service </a> </label> <br> <br>
    </div>

    <button type='submit' class='subbutton'> Register </button>

</form>

</div>

{% endblock %}